<div id="img">
  <%= image_tag @question.avatar_url(:large), id: "cropbox" %>
</div>

<!-- <div class="btn-group">
  <button type="button" class="btn btn-primary" data-method="setDragMode" data-option="move" title="Move">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(setDragMode, move)">
      <span class="fa fa-arrows"></span>
    </span>
  </button>
  <button type="button" class="btn btn-primary" data-method="setDragMode" data-option="crop" title="Crop">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(setDragMode, crop)">
      <span class="fa fa-crop"></span>
    </span>
  </button>
</div>


<div class="btn-group">
  <button type="button" class="btn btn-primary" data-method="zoom" data-option="0.1" title="Zoom In">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(zoom, 0.1)">
      <span class="fa fa-search-plus"></span>
    </span>
  </button>
  <button type="button" class="btn btn-primary" data-method="zoom" data-option="-0.1" title="Zoom Out">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(zoom, -0.1)">
      <span class="fa fa-search-minus"></span>
    </span>
  </button>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-primary" data-method="move" data-option="-10" data-second-option="0" title="Move Left">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(move, -10, 0)">
      <span class="fa fa-arrow-left"></span>
    </span>
  </button>
  <button type="button" class="btn btn-primary" data-method="move" data-option="10" data-second-option="0" title="Move Right">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(move, 10, 0)">
      <span class="fa fa-arrow-right"></span>
    </span>
  </button>
  <button type="button" class="btn btn-primary" data-method="move" data-option="0" data-second-option="-10" title="Move Up">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(move, 0, -10)">
      <span class="fa fa-arrow-up"></span>
    </span>
  </button>
  <button type="button" class="btn btn-primary" data-method="move" data-option="0" data-second-option="10" title="Move Down">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(move, 0, 10)">
      <span class="fa fa-arrow-down"></span>
    </span>
  </button>
</div> -->

<div class="btn-group">
  <button type="button" class="btn btn-primary" data-method="rotate" data-option="-45" title="Rotate Left">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(rotate, -45)">
      <span class="fa fa-rotate-left"></span>
    </span>
  </button>
  <button type="button" class="btn btn-primary" data-method="rotate" data-option="45" title="Rotate Right">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(rotate, 45)">
      <span class="fa fa-rotate-right"></span>
    </span>
  </button>
</div>

<!-- <div class="btn-group">
  <button type="button" class="btn btn-primary" data-method="scaleX" data-option="-1" title="Flip Horizontal">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(scaleX, -1)">
      <span class="fa fa-arrows-h"></span>
    </span>
  </button>
  <button type="button" class="btn btn-primary" data-method="scaleY" data-option="-1" title="Flip Vertical">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(scaleY, -1)">
      <span class="fa fa-arrows-v"></span>
    </span>
  </button>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-primary" data-method="crop" title="Crop">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(crop)">
      <span class="fa fa-check"></span>
    </span>
  </button>
  <button type="button" class="btn btn-primary" data-method="clear" title="Clear">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(clear)">
      <span class="fa fa-remove"></span>
    </span>
  </button>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-primary" data-method="disable" title="Disable">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(disable)">
      <span class="fa fa-lock"></span>
    </span>
  </button>
  <button type="button" class="btn btn-primary" data-method="enable" title="Enable">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(enable)">
      <span class="fa fa-unlock"></span>
    </span>
  </button>
</div>


<div class="btn-group">
  <button type="button" class="btn btn-primary" data-method="reset" title="Reset">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(reset)">
      <span class="fa fa-refresh"></span>
    </span>
  </button>
  <label class="btn btn-primary btn-upload" for="inputImage" title="Upload image file">
    <input type="file" class="sr-only" id="inputImage" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
    <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="Import image with Blob URLs">
      <span class="fa fa-upload"></span>
    </span>
  </label>
  <button type="button" class="btn btn-primary" data-method="destroy" title="Destroy">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(destroy)">
      <span class="fa fa-power-off"></span>
    </span>
  </button>
</div>
 -->

<!-- <div class="btn-group btn-group-crop">
<button type="button" class="btn btn-success" data-method="getCroppedCanvas" data-option="{ maxWidth: 4096, maxHeight: 4096 }">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(getCroppedCanvas, { maxWidth: 4096, maxHeight: 4096 })">
      Get Cropped Canvas
    </span>
  </button>
  <button type="button" class="btn btn-success" data-method="getCroppedCanvas" data-option="{ width: 160, height: 90 }">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(getCroppedCanvas, { width: 160, height: 90 })">
      160×90
    </span>
  </button>
  <button type="button" class="btn btn-success" data-method="getCroppedCanvas" data-option="{ width: 320, height: 180 }">
  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(getCroppedCanvas, { width: 320, height: 180 })">
      320×180
    </span>
  </button>
</div> -->

<%= simple_form_for @question do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.input "crop_#{attribute}",as: :hidden %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>


  <div style="width: 100px;height: 100px;overflow: hidden;">
    <%= image_tag @question.avatar.url(:large), id: "preview" %>
  </div>
