<div class="text-center" style="padding: 0px ">
  <% if current_user.questions.include? @question %>
      <% if @question.avatar? %>
        <%= image_tag @question.avatar.url(:large), :class => "img-responsive responsive_upload_image" %>
      <% end %>
    <div style="margin:10px 0px 10px 0px;">
    <%= link_to @question.text, edit_question_path(@question), class: 'btn btn-warning responsive-button' %>
    <%= link_to "Back", user_path(@user), class: 'btn btn-warning responsive-button',style:'float:left;' %>
    <%= link_to "Delete", question_path(@question), method: :delete, data: {confirm: "You sure?"}, class: 'btn btn-warning responsive-button',style: 'float:right' %>
    <% if @question.answers.length  <= 3 %>
      <%= link_to "Create Answer #{@question.answers.length + 1}", new_question_answer_path(@question, @answer) , remote: true, class: 'btn btn-warning responsive-button'%>
      <% end %>
    </div>
    <div id="answer_attach"></div>
  <% else %>
    <p>You cannot see what you did not create</p>
  <% end %>
</div>

<div class="container">
    <div class="responsive-row">
        <% @question.answers.each do |answer| %>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 " style="height:100%;padding:5px 5px;">
                <div style="width:100%;height:70%;background-repeat:no-repeat;background-size:cover;background-image:url(<%= answer.picture_url %>);background-position: center;" id="<%= answer.filter %>">
                </div>
                <div class="container"  style="text-align: center; width:100%;height:30%;background-color:white;opacity: 0.8; border-color:#f0ad4e;border-style: groove;">
                    <p class="responsive-survey_text" style="padding-top: 0px;"> <a href="/answers/<%=answer.id%>" style="color:black; text-decoration:none;"> <%= answer.text %></a></p>
                </div>
            </div>
        <% end %>
    </div>
</div>

<!-- <div class="container" style="padding:20px 15px;">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
            <div>
                <button class="btn btn-default btn-lg" type="button" style="font-family:Archivo Black, sans-serif;margin:auto;background-color:#f0ad4e;"> Previous </button>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
            <div>
                <button class="btn btn-default btn-lg" type="button" style="font-family:Archivo Black, sans-serif;background-color:#f0ad4e;">Next</button>
            </div>
        </div>
    </div>
</div> -->

