<% if current_user.questions.include? @question %>
  <h1><%=@question.text%></h1>
  <div style="height: 200;width: 300px" ><%= image_tag @question.avatar.url if @question.avatar? %></div>
  <%= link_to "Edit", edit_question_path(@question) %>
  <%= link_to "Back", survey_path(@survey) %>
  <%= link_to "Delete", question_path(@question), method: :delete, data: {confirm: "You sure?"} %><br>
  <%= link_to "Create Answer", new_question_answer_path(@question, @answer) , remote: true%><br>
  <div id="answer_attach"></div>
  <% if @question.answers.empty? %>
    <h4>Create answer with the button Above</h4>
  <% else %>
    <h4>These are your answers</h4>
    <% @question.answers.each do |answer| %>
      <%= link_to answer.text, answer_path(answer) %><br>
    <% end %>
  <% end %>
<% else %>
 <p>You cannot see what you did not create</p>
<% end %>


