<div class="container">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 text-center" style="height:100%;padding:5px 5px;">
        <% if user.id != current_user.id %>
          <div style="padding:0px 0px 10px 0px;">
            <% if user.image %>
              <img src=<%=user.image  + "?type=large"%> class="img-circle responsive-follow-image">
            <% end %>
            <p><a href="/users/<%= user.id %>"><%= user.name %></a></p>
            <p>Questions Asked <%= user.questions.count%></p>
            <%= render :partial => 'follow_form', :locals => {:@user => user}%>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

