<div class="text-center" style="height:initial;padding:100px 0px;opacity:1;margin:0px auto;width:80%;color: black;">
  <% if logged_in? %>
    <% if current_user.id == @user.id %>
      <div style="padding:0px 0px 10px 0px;">
        <p><%= current_user.name %></p>
        <% if current_user.image === nil %>
          <% current_user.image = "/assets/avatar_image.png"%>
          <img src=<%=current_user.image  + "?type=large"%> class="img-circle responsive-image">
        <% else %>
          <img src=<%=current_user.image  + "?type=large"%> class="img-circle responsive-image">
        <% end %>
        <section >
          <%= render '/stats' %>
        </section>
      </div>

    <div style="padding:0px 0px 10px 0px;">
      <%= link_to "Start a Question", new_user_question_path(@user, @question), remote: true, class: 'btn btn-warning responsive-button',id: "create_survey" %><br>
    </div>
    <div id="question_attach"></div>
    <% if @user.questions.empty? %>
    <p class="survey_text">Start your question</p>
    <% else %>
    <p> This are your last 3 Questionss</p>
    <!-- <div style="padding: :10px 0px 10px 0px;"> -->
    <% @user.questions.each do |question| %>
    <%= link_to question.text, question_path(question), class: 'btn btn-warning responsive-button responsive-text', :style => 'margin-bottom: 10px;'%>
    <% end %>
    <!-- </div> -->
    <% end %>
    <% else %>
    <p><%= @user.name %></p>
    <% if @user.image %>
          <img src=<%=@user.image  + "?type=large"%> class="img-circle responsive-image">
    <% end %>
    <p>Questions asked: <%= @user.questions.count %></p>
    <% end %>
  <% else %>
    <p>Please Log in</p>
  <% end %>
</div>
