<div class="text-center">
  <div id="img">
    <%= image_tag @answer.picture_url, id: 'update_need' %>
  </div>

  <div class="row update" style="margin: 0px auto">
    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 filter-image" id="contrast"  style="margin:5px 5px; background-image: url(<%=@answer.picture.url%>);background-size:cover;background-position: center;display: inline;">
    </div>

    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 filter-image" id="grayscale" style="margin:5px 5px;background-image: url(<%=@answer.picture.url%>);background-size:cover;background-position: center;display: inline;">
    </div>

    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 filter-image" id="saturate" style="margin:5px 5px;background-image: url(<%=@answer.picture.url%>);background-size:cover;background-position: center;display: inline;">
    </div>

    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 filter-image" id="sephia" style="margin:5px 5px;background-image: url(<%=@answer.picture.url%>);background-size:cover;background-position: center;display: inline;">
    </div>

    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 filter-image" id="hue-rotate" style="margin:5px 5px;background-image: url(<%=@answer.picture.url%>);background-size:cover;background-position: center;display: inline;">
    </div>
  </div>
</div>

