  <%= form_for @survey do  |f|%>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: @survey.name %>
    </div>

    <div class="actions"><%= f.submit "Finish Editing" %></div>
  <% end %>

  <%= link_to "Back", survey_path %>
